<app-page-header [config]="headerConfig">
  <app-searchbar
    *ngIf="overlayChips"
    [(searchText)]="searchText"
    placeholder="{{'HOME_SEARCH_PLACEHOLDER' | translate}}"
    (clearText)="onClearSearch($event)"
    [overlayChip]="overlayChips"
    (outputData)="search($event)"
    [valueFromParent]="criteriaChip"
  ></app-searchbar>
</app-page-header>
<ion-toolbar> </ion-toolbar>
<ion-content>
  <app-generic-search
    [results]="results"
    [totalCount]="totalCount"
    [searchValue]="searchText"
    (onClickEvent)="eventAction($event)"
    (onPageChangeEvent)="onPageChange($event)"
  ></app-generic-search>
</ion-content>
