.header {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
    color:var(--text-color);
}
.close-icon{
    font-size: 20px; 
    cursor: pointer;
}
.wrapper-class {
    display: flex;
    justify-content: space-between;
    background-color:var(--ion-color-primary);
    color:var(--text-color);
    padding: 16px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color:var(--ion-color-primary);
    color:var(--text-color);
    padding: 16px;
    cursor: pointer;
}