ion-back-button{
    text-transform: none;
    --icon-font-size:26px;
    --icon-font-weight: 800;
}
ion-header{
   box-shadow: none !important;
}
ion-title{
    font-weight: bold;
    text-transform: none;
    padding: 10px 0px 0px 10px;
    line-height: normal;
}
.align-right{
    align-self: right;
    margin-right: 20px;
}
ion-menu-button{
    font-size: 40px;
}
ion-toolbar{
    padding: 10px 10px 0px 0px;
}
.icon{
    font-size: 22px;
}
.label-small{
    font-size: 12px;
}
ion-grid{
    float: right;
    margin-top: 5px;
    padding-bottom: 0px;
}
ion-col{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px 15px 0px 15px;
    padding: 1px 0px 1px 4px;
}
ion-buttons {
    cursor: pointer;
}
.badge {
  width: 10px;
  height: 10px;
  background-color: #79D579;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 5px;
  z-index: 999;
}

.mobile-badge {
display: none;

  @media (max-width: 767px) {  // Adjust breakpoint as needed
    display: inline-block;
}
}