img {
  border-radius: 50%;
  width: 95px;
  height: 95px;
}
ion-icon {
  color: white;
}
ion-col {
  display: block;
}
.name {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-left: 2px;
}
.details-wrapper {
  margin: 10px 0px 0px 0px;
  padding-left: 8px;
}
.location {
  color: #fff;
  font-size: 14px;
  margin-left: 2px;
  text-align: center;
}
ion-button {
  color: white;
  max-width: fit-content;
}
.content-wrapper {
  padding: 16px 16px 16px 0px;
}
.view-roles {
  color: var(--ion-color-secondary);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 2%;
  font-size: small;
}
.roles-div {
  padding-left: 2px;
  padding-top: 1%;
}

.items-baseline {
  align-items: baseline;
}

.ratings-banner {
  background: green;
  padding: 0px 10px;
  font-size: 12px;
  margin-top: -10px;
  width: 50px;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

.profile-img {
  position: relative;
  ion-icon {
    position: absolute;
    right: 0px;
    top: -5px;
    width: 25px;
    height: 25px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    padding: 4px;
  }
}

.wrap {
  flex-wrap: wrap;
  gap: 10px;
}
