.field-wrapper{
    margin : 20px 25px 10px 15px
}
ion-chip{
    --background: var(--white);
    color: var(--dark-gray);
    margin-top: 6px;
    height: auto;
}

.value{
      font-size: 14px;
      color: var(--dark-gray);
      margin-top: 5px;
}
  ion-toolbar{
      --padding-bottom: 0px;
  }
  .session-detail-heading{
      font-size: 16px;
      font-weight: bold;
      color: var(--dark-grey);
      margin-bottom: 5px;
  }
.break-word{
    word-break: break-word;
    overflow-wrap: break-word;
}
.view-mentee-list{
    color: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
}
.mentee-count{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.resource-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    height: 100%;
  }
  .resource-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    box-shadow: 1px 4px 5px 2px #ccc;
    border-radius: 14px;
    width: 180px;
    height: 180px;
    img{
        width: 170px;
              height: 150px;
              border-radius: 14px;
              object-fit: cover;
              padding: 5px;
    }
  }
  .clickable-image {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.2s;
  }
  
  .resource-content:hover {
    transform: scale(1.05);
  }
  
  .truncate-text {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
  .close-icon-modal{
    position: absolute;
      right: 0;
      background: #fff;
      border-radius: 14px;
      width: 22px;
      height: 22px;
      margin: 4px;
  }