ion-chip {
    margin: 10px;
    height: 38px;
    border-radius: 25px;
}
.head-label{
    font-weight: bold;
    color: var(--black);
    font-size: 18px !important;
    overflow: visible !important;
 }

.head-label::first-letter{
    text-transform: capitalize;
 }

 .add-link-modal {
  padding: 3px;
  background-color: black;
 }

 .p-rel{
  position: relative;
  width: fit-content;
 }
 .info {
    font-size: 24px !important;
    margin-top: 6px;
    z-index: 1000;
   right: 0px;
    position: absolute;
  }

  .color-red {
    --background: var(--ion-color-primary);
    --color: var(--white)
  }
  .icon{
    z-index: 1000;
  }
  .capitalize {
    text-transform: capitalize;
  }
  .disabled-label{
    color: #a4a4a4
  }
  ion-popover {
    &::part(content) {
      width: 300px;
    }
  }
.word-break {
  word-break: break-word !important;
}
