.profile-container {
    text-align: center;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    margin: 16px auto;
  }
  
  .profile-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .profile-description {
    color: gray;
    margin-bottom: 15px;
  }
  
  .request-info {
    margin-top: 20px;
    font-size: 1rem;
  }
  
  ion-chip {
    display: flex;
    justify-content: left;
    margin-top: 10px;
  }
.viewMore{
    display: flex;
    justify-content: end;
    margin: 0px;
    color: var(--blue);
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}


//////////////


ion-modal {
  --height: 50%;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --color: white;
}


.card-title{
  font-weight: 800;
}

.hint-icon{
  font-size: 12px;
  margin: 0%;
}

.hint-label{
  font-size: 12px;
  padding-left: 5px;
  margin: 0%;
}






.timeline{
  position: relative;
  display: grid;
  gap: 6px;
}
.timeline-card{
  background: var(--white);
  width: 75%;
  box-sizing: border-box;
  position: relative;
  border-radius: 15px;
  border: .5px;

}
.timeline-line{
  height: 100%;
  width: 2px;
  background-color: var(--black);
  position: absolute;
  top: 0%;
  left: 15%;
  transform: translateX(-15%);
  margin: 4px;
}
.timeline-item .timeline-card{
  left:25%;
  transform: translateX(0);
  bottom: 10%;
  margin: 10px 0px;
}
.timeline-dot{
  position: absolute;
  left: 15%;
  transform: translateX(-15%);
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  z-index: 1;
}
.timeline-item .timeline-date{
  right: 8%;
  transform: translateX(0);
}
.timeline-date{
  width: 23%;
  border: 10px;
  box-sizing: border-box;
  position: relative;
}
.session-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
