.profile-container {
    text-align: center;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    margin: 16px auto;
  }
  
  .profile-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .profile-description {
    color: gray;
    margin-bottom: 15px;
  }
  
  .request-info {
    margin-top: 20px;
    font-size: 1rem;
  }
  
  ion-chip {
    display: flex;
    justify-content: left;
    margin-top: 10px;
  }
.viewMore{
    display: flex;
    justify-content: end;
    margin: 0px;
    color: var(--blue);
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}


//////////////


ion-modal {
  --height: 50%;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --color: white;
}


// .form-content{
  // max-height: auto !important;    
  // overflow-y: scroll !important;
  // width: 95%;
// }

.card-title{
  font-weight: 800;
}

.hint-icon{
  font-size: 12px;
  margin: 0%;
}

.hint-label{
  font-size: 12px;
  padding-left: 5px;
  margin: 0%;
}