.selected-chip{
    --background:var(--ion-color-primary);
    --color:var(--white);
}
.toggle{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.head-label{
    font-weight: bold;
    color: var(--black);
    font-size: 14px !important;
    overflow: visible !important;
    width: 100%;
 }

.head-label::first-letter{
    text-transform: capitalize;
 }
 
.icon{
    font-size: smaller;
}
.word-break {
  word-break: break-word !important;
}